[submodule "/home/noobusdeer/.emacs.d"]
	path = /home/noobusdeer/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule ".themes/black"]
	path = .themes/black
	url = https://github.com/yur3i/black.git
