! XFT - Fuentes
!----------------------------------------------------------------------

Xft.dpi: 96
Xft.antialias: 1
Xft.rgba: rgb
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hinting: 1
Xft.hintstyle: hintfull

Xcursor.theme:	 Neutral
URxvt.font: xft:DejaVu Sans Mono for Powerline:pixelsize=14

!*font: -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
! URXVT
!----------------------------------------------------------------------
! Colores
! bold, italic, underline
! colors
URxvt.cursorColor:  #b3bdcb
URxvt.background: #000000
URxvt.foreground: #b3bdcb
! Black + DarkGrey
URxvt.color0:  #000000
URxvt.color8:  #2a303b
! DarkRed + Red
URxvt.color1:  #cc575d
URxvt.color9:  #a3464a
! DarkGreen + Green
URxvt.color2:  #2679db
URxvt.color10: #75a9e8
! DarkYellow + Yellow
URxvt.color3:  #b3bdcb
.color11: #CAD1DB
! DarkBlue + Blue
URxvt.color4:  #5294e2
URxvt.color12: #97bfee
! DarkMagenta + Magenta
URxvt.color5:  #CC5798
URxvt.color13: #686d79
! DarkCyan + Cyan
URxvt.color6:  #b3bdcb
URxvt.color14: #8696ac
! LightGrey + White
URxvt.color7:  #E1E5EA
URxvt.color15: #ffffff
! for 256 color stuff
URxvt.color24:  #076678
URxvt.color66:  #427b58
URxvt.color88:  #9d0006
URxvt.color96:  #8f3f71
URxvt.color100: #79740e
URxvt.color108: #8ec07c
URxvt.color109: #83a598
URxvt.color130: #af3a03
URxvt.color136: #b57614
URxvt.color142: #b8bb26
URxvt.color167: #fb4934
URxvt.color175: #d3869b
URxvt.color208: #fe8019
URxvt.color214: #fabd2f
URxvt.color223: #ebdbb2
URxvt.color228: #f4e8ba
URxvt.color229: #fdf4c1
URxvt.color230: #ffffc8
URxvt.color234: #1d2021
URxvt.color235: #404552
URxvt.color236: #32302f
URxvt.color237: #3c3836
URxvt.color239: #504945
URxvt.color241: #665c54
URxvt.color243: #7c6f64
URxvt.color244: #928374
URxvt.color245: #928374
URxvt.color246: #a89984
URxvt.color248: #bdae93
URxvt.color250: #d5c4a1

URxvt.letterSpace: -1
URxvt*font: xft:DejaVu Sans Mono for Powerline:size=9
URxvt*boldFont: xft:DejaVu Sans Mono for Powerline:size=9
URxvt*italicFont: xft:DejaVu Sans Mono for Powerline:size=9
URxvt*bolditalicFont: xft:DejaVu Sans Mono for Powerline:size=9

! Varios
URxvt.depth: 32
URxvt*scrollBar: false
URxvt.urgentOnBell: True
URxvt.visualBell: False
URxvt*saveLines: 1024
URxvt*mouseWheelScrollPage: true
! Extensions ~/.urxvt./ext
URxvt.perl-ext-common: default,clipboard,keyboard-select,url-select
! Clipboard
URxvt.keysym.C-S-C: perl:clipboard:copy
URxvt.keysym.C-S-V: perl:clipboard:paste
URxvt.keysym.C-S-W: perl:clipboard:paste_escaped
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
! Keyboard-select
URxvt.keysym.C-Escape: perl:keyboard-select:activate
URxvt.keysym.C-S-S: perl:keyboard-select:search
! Url-select
URxvt.keysym.C-S-U: perl:url-select:select_next
URxvt.url-select.autocopy: true
URxvt.url-select.button: 1
URxvt.url-select.launcher: /usr/bin/firefox
URxvt.url-select.underline: true

rofi.lines: 6
rofi.width: -80
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.font: DejaVu Sans Mono for Powerline 10
rofi.matching: fuzzy
rofi.display-drun: !
rofi.color-enabled: true
rofi.color-window: #000000, #b3bdcb, #b3bdcb
rofi.color-normal: #000000, #b3bdcb, #000000, #202020, #b3bdcb
rofi.color-active: #000000, #adaeaf, #232323, #545455, #ffffff
rofi.color-urgent: #000000, #ff1844, #232323, #232323, #ff1844
